<a href="https://colab.research.google.com/github/wcaraker76/4GeeksProjects/blob/main/End_to_End.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import needed packages

import sklearn 
import numpy as np
import pandas as pd  
import matplotlib as mpl
import matplotlib.pyplot as plt
import json
%matplotlib inline

In [ ]:
#load kaggle data 

# ! pip install kaggle

# ! mkdir ~/.kaggle

# ! cp /content/drive/MyDrive/kaggle.json ~/.kaggle/kaggle.json

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [ ]:
#download the dataset

# ! kaggle datasets download tmdb/tmdb-movie-metadata

tmdb-movie-metadata.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
#unzip the data 

# ! unzip tmdb-movie-metadata.zip

Archive:  tmdb-movie-metadata.zip
replace tmdb_5000_credits.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:
#read the csv and start working with it keep genre keyword and drop all other object based columns while removing popularity and vote_count
movie = pd.read_csv('/content/drive/MyDrive/tmdb_5000_movies.csv')

display(movie)
movie.info()

         budget  ... vote_count
0     237000000  ...      11800
1     300000000  ...       4500
2     245000000  ...       4466
3     250000000  ...       9106
4     260000000  ...       2124
...         ...  ...        ...
4798     220000  ...        238
4799       9000  ...          5
4800          0  ...          6
4801          0  ...          7
4802          0  ...         16

[4803 rows x 20 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [ ]:
#drop the unneeded columns
print(movie.columns)
keep = movie[['budget', 'genres', 'original_language','revenue','runtime','vote_average']]

keep.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

Index(['budget', 'genres', 'original_language', 'revenue', 'runtime',
       'vote_average'],
      dtype='object')

In [ ]:
#create a func that parses the json to a ocmma seperated list of genres
def json_parse(json_needing_parsed):
  s = json.loads(json_needing_parsed)
  return ','.join([r['name'] for r in s])

#parse the genres column

movie_genre = keep['genres'].apply(json_parse)
#get a set of genres for the movies 
list_genres = set(','.join(movie_genre).split(','))

In [ ]:
#add the genres to the dataframe 
for g in list(list_genres)[1:]:
  keep[g] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
keep.head()

      budget  ... Comedy
0  237000000  ...      0
1  300000000  ...      0
2  245000000  ...      0
3  250000000  ...      0
4  260000000  ...      0

[5 rows x 26 columns]

In [ ]:
# create function that check if genre is in the list for each observation, if the genere is present we update it to 1
# iterate over each row and check to see if
def updateGenre(row):
  s = json.loads(row['genres']) ## converting this string to .json
  for r in s: # r is genre in this case
    row[r["name"]] = 1
  return row

In [ ]:
# use the apply function to iterate over each row
keep = keep.apply(updateGenre, axis=1)
keep.head()

      budget  ... Comedy
0  237000000  ...      0
1  300000000  ...      0
2  245000000  ...      0
3  250000000  ...      0
4  260000000  ...      0

[5 rows x 26 columns]

In [ ]:
keep.drop(columns =['genres'], inplace=True)
keep.head()

      budget original_language     revenue  ...  Documentary  Mystery  Comedy
0  237000000                en  2787965087  ...            0        0       0
1  300000000                en   961000000  ...            0        0       0
2  245000000                en   880674609  ...            0        0       0
3  250000000                en  1084939099  ...            0        0       0
4  260000000                en   284139100  ...            0        0       0

[5 rows x 25 columns]

In [ ]:
# get dummies to handle the language catagories
keep = pd.get_dummies(keep)
keep.head()

      budget     revenue  ...  original_language_xx  original_language_zh
0  237000000  2787965087  ...                     0                     0
1  300000000   961000000  ...                     0                     0
2  245000000   880674609  ...                     0                     0
3  250000000  1084939099  ...                     0                     0
4  260000000   284139100  ...                     0                     0

[5 rows x 61 columns]

In [ ]:
# get rid of NaN
keep = keep.dropna()
keep.head()

      budget     revenue  ...  original_language_xx  original_language_zh
0  237000000  2787965087  ...                     0                     0
1  300000000   961000000  ...                     0                     0
2  245000000   880674609  ...                     0                     0
3  250000000  1084939099  ...                     0                     0
4  260000000   284139100  ...                     0                     0

[5 rows x 61 columns]

In [ ]:
#labels for our data to be compared to
labels = keep['vote_average']
labels.head()

0    7.2
1    6.9
2    6.3
3    7.6
4    6.1
Name: vote_average, dtype: float64

In [ ]:
labels.describe()

count    4801.000000
mean        6.093189
std         1.191493
min         0.000000
25%         5.600000
50%         6.200000
75%         6.800000
max        10.000000
Name: vote_average, dtype: float64

In [ ]:
#the data to feed our model
data = keep.drop(columns =['vote_average'])
data.head()

      budget     revenue  ...  original_language_xx  original_language_zh
0  237000000  2787965087  ...                     0                     0
1  300000000   961000000  ...                     0                     0
2  245000000   880674609  ...                     0                     0
3  250000000  1084939099  ...                     0                     0
4  260000000   284139100  ...                     0                     0

[5 rows x 60 columns]

In [ ]:
#check the dtypes of the remaining data
keep.dtypes

budget                    int64
revenue                   int64
runtime                 float64
vote_average            float64
Action                    int64
                         ...
original_language_th      uint8
original_language_tr      uint8
original_language_vi      uint8
original_language_xx      uint8
original_language_zh      uint8
Length: 61, dtype: object

In [ ]:
# split data

# to make this notebook's output identical at every run
RANDOM_STATE = 42
np.random.seed(RANDOM_STATE)

In [ ]:
#create the testing and training data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, labels, test_size=0.2, \
                                                    random_state=RANDOM_STATE)

In [ ]:
#check the shape to make sure it is correct and symmetrical
print(X_train.shape, y_train.shape)
X_test.shape, y_test.shape

(3840, 60) (3840,)

((961, 60), (961,))

In [ ]:
from sklearn.preprocessing import MinMaxScaler
# use minmax to handle 1 and 0
scaler = MinMaxScaler()
scaled = scaler.fit_transform(X_train)

In [ ]:
# linear regression
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()
lin_reg.fit(scaled, y_train)

LinearRegression()

In [ ]:
# check model
from sklearn.metrics import mean_squared_error

predictions = lin_reg.predict(scaled)
lin_mse = mean_squared_error(y_train, predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

1.0410820452221312

In [ ]:
# do cross validation

from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()
scores = cross_val_score(lin_reg, scaled, y_train,
                         scoring="neg_mean_squared_error", cv=10)
rmse_scores = np.sqrt(-scores)
rmse_scores

array([7.85474320e+11, 9.15162557e+11, 9.83022769e+10, 4.35134210e+11,
       1.00247557e+00, 9.99528632e-01, 1.23239398e+12, 5.10110205e+11,
       2.90476594e+10, 2.78468223e+11])

In [ ]:
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())

display_scores(rmse_scores)

Scores: [7.85474320e+11 9.15162557e+11 9.83022769e+10 4.35134210e+11
 1.00247557e+00 9.99528632e-01 1.23239398e+12 5.10110205e+11
 2.90476594e+10 2.78468223e+11]
Mean: 428409342802.5522
Standard deviation: 409334525000.29

In [ ]:
y_train.head()

2852    5.6
3263    6.7
4579    7.8
1774    5.2
1957    7.0
Name: vote_average, dtype: float64